#container {
  text-align: center;
  margin: 15px;
  width: 33%;
  height: 360px;
  background-color: #0000a0;
}
#canvas {
  margin: 0 auto;
  border: 5px solid #888888;
}
.game_info {
  color: #FFFF52;
  font-size: 24px;
  text-align: left;
  position: absolute;
  padding: 10px;
  width: 620px;
}
.ai_input{
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  border: 5px solid #888888;
  font-weight: normal;
  font-size: 20px;
  background-color: #0000a0;
  width: 100%;
}
.ai_input_label{
  display:block;
  text-align:center;
  color:white;
}
.ai_input_code{
  height: 100%;
}
